/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-extra-dark: #323232;
  --basic-dark: #5A5A5A;
  --absolute-color: #849D8F;
  --absolute-color-a:#D07058;
  --absolute-black: #323232;
  --a-color-active: #FFBC9E;
  --a-color-active-extra: #E84D37;
  --background-color:rgba(255, 255, 255, 0.4);
}
  /* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: “Roboto”, Arial, sans-serif;
  font-size:16px;
  line-height:22px;
  color: var(--basic-white);
  background-color:var(--absolute-color);
  background-position: top center;
  background-repeat: no-repeat;
  }
img {
  max-width: 100%;
  height: auto;
}
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* удалить !!!! */
.slider-item:nth-child(n +2 ) {
  display:none;
}
/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}
.main-header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container .user-navigation-1 {
  display: flex;
  align-items: center;
}
.container .user-navigation-2 {
  text-align: right;
  flex-basis: 100%;
}
.index .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  grid-template-rows: min-content;
  row-gap: 40px;
}
/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.user-navigation-1 {
  align-items: center;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 11px;
  padding-right: 13px;
  margin-left: auto;
  display: flex;
}
.user-navigation-2 {
  order: 2;
}
.slider-list {
  grid-column: 1 / -1;
}
.hits {
  grid-column: 1 / -1;
  width: 100%;
}
.hits-list {
  display: grid;
  grid-template-columns: repeat(4,267px);
  grid-column-gap:26px;
}
.hits-list li {
  width: 267px;
  box-sizing: border-box;
}
.description {
  grid-column: 1 / -1;
}
.map {
  grid-column: 1 / -1;
  background-color: transparent;
  padding-top: 40px;
}
.map-contacts {
  position: absolute;
  top:62px;
  right: 27px;
  background-color: var(--basic-white);
  width: 303px;
  padding-top: 32px;
  padding-right:25px ;
  padding-left: 25px;
  padding-bottom: 31px;
  border-radius: 16px;

}
.map img  {
 margin: 0 auto;
 display: block;
}
.address {
  padding-bottom: 31px;
}
.map-contacts-wrapper {
  position: relative;
  width: 1200px;
  height: 0;
  margin: 0 auto;
}
/* подвал */
.footer .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.post {
  width:327px;
}
.information {
  display: flex;
  flex-wrap: wrap;
}
.information li {
  min-width:145px;
}
.numerology {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.numerology {
  list-style: none;
  padding: 0;
}
.numerology li {
  padding-right: 20px;
}
.numerology a {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
  text-decoration: none;
}
.filter {
  flex-direction: column;
}
.cream_ice_cream {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filter {
  display: flex;
  flex-direction: column;
}
.bread_crumbs {
  display: flex;
  margin-top:-60px;
  list-style: none;
  padding: 0;
}
.bread_crumbs li {
  display: flex;
  padding-right: 8px;
  align-items: center;
}
.bread_crumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
  padding-right: 8px;
}
.bread_crumbs_1:focus,
.bread_crumbs_1:hover,
.bread_crumbs_1:active {
  background-color:var(--absolute-color-a);
  text-decoration: none;
  color:var(--basic-white)
}
.bread_crumbs_2 {
  text-decoration: none;
  color:var(--basic-white)
}
/* Logo */
.main-header-logo {
  width: 154px;
  height: 64px;
  padding-right:10px;
}
/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--absolute-color);
}
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.site-navigation__item .sub-navigation {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  margin-left:-6px;
  position: absolute;
  left: -5px;
  background-color: var(--basic-white);
  flex-direction: column;
  list-style: none;
  display: none;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  padding-bottom: 7px;
}
.site-navigation__item {
  position: relative;
}
.site-navigation__item {
  position: relative;
}
.site-navigation__item > a {
  font-size: 16px;
  line-height: 18px;
  color: var( --absolute-black);
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 11px;
  padding-right: 13px;
  display: block;
}
.site-navigation-current a:not([href]) {
  background-color: var(--absolute-color);
}
/* User navigation */
.site-navigation__item > a {
  color: var(--basic-white);
  border-radius: 26px;
  margin-bottom: 3px;
}
.site-navigation__item > a:hover,
.site-navigation__item > a:focus {
  background-color:var(--basic-white);
  color:var( --absolute-black);
  text-decoration: none;
  border-radius: 26px;
}
.site-navigation__item > a:active {
  box-shadow: inset 0px 2px 1px #696969;
  }
.site-navigation-activ > a,
.site-navigation-activ > a:hover, 
.site-navigation-activ > a:focus,
.site-navigation-activ > a:active {
  color: var(--basic-white);
  background: var( --absolute-color-a);
  text-decoration: none;
  box-shadow: none;
}
.site-navigation__item li {
  position: relative;
}
.site-navigation__item:hover .sub-navigation {
  display: flex;
}
.sub-navigation-item {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-extra-dark);
  min-width: 143px;
  padding-left: 9px;
  padding-right: 6px;
}
.sub-navigation-item > a {
  color: var(--basic-extra-dark);
  padding: 8px 20px 8px 21px;
  display: block;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 11px;
}
.sub-navigation-favorite {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.sub-navigation-favorite > a {
  border-bottom: 1px solid var(--basic-extra-dark);
}
.sub-navigation-item:hover,
.sub-navigation-item:focus {
  background-color:#FBDED7;
}
 .sub-navigation-item:active {
  background-color: #F6B5A5;
}
.sub-navigation-activ,
.sub-navigation-activ:hover,
.sub-navigation-activ:focus, 
.sub-navigation-activ:active {
  background-color: #D07058;
}
.sub-navigation-activ > a {
  color: var(--basic-white);
}
.user-navigation {
  color: var(--basic-white);
  display: block;
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
}
.user-navigation .icon {
  position: absolute;
  fill: #ffffff;
}
.user-navigation:hover,
.user-navigation:focus {
  background-color:var(--basic-white);
  color: var(--absolute-black)
}
.telefone {
  color:var(--basic-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}
.telefone:focus,
.telefone:hover,
.telefone:active {
  color:var(--a-color-active);
}
/* Features */
.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-item {
  text-align: center;
}
.slider-item h2 {
  font-size: 60px;
  line-height: 60px;
}
.slider-item a {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;;
}
.slider-item a:hover,
.slider-item a:focus
.slider-item a:active {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}
.raspberry {
  color:var(--basic-white) ;
  background-color:var(--absolute-color);
  background-image:url("../img/raspberry.jpg") ;
  background-position:0 0 ;
  background-repeat:repeat;
  font-size: 16px;
  line-height: 22px;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  padding:10px;
}
.chocolate {
  color:var(--basic-white) ;
  background-color:var(--absolute-color);
  background-image:url("../img/chocolate.jpg") ;
  background-position:0 0;
  background-repeat:repeat;
  font-size: 16px;
  line-height: 22px;
  background-position: 50% 50%;
  background-size: cover;
  padding:10px;
}
/* Index description */
.description {
  color: var(--basic-extra-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/pattern.jpg");
  background-position: center, 0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
 }
 .description h2 {
  font-size: 24px;
  line-height: 30px;
 }
 .description p {
  font-size: 16px;
  line-height: 22px;
 }
.strawberry {
  color: var(--basic-extra-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/strawberry.jpg");
  background-position:0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 16px;
  line-height: 22px;
}
.strawberry__item {
  color: var(--basic-extra-dark); 
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.strawberry__item:focus,
.strawberry__item:hover,
.strawberry__item:active {
  color: var(--a-color-active-extra);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.feedback {
  color:var(--basic-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/base.jpg");
  background-position:0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 16px;
  line-height: 22px;
  display: block;
  padding:10px;
}
.social-network {
  list-style: none;
  padding: 0;
  margin: 0;
}
.information {
  color: var(--basic-white);
  list-style: none;
  padding: 0;
  margin: 0;
}
.information a:not(.info) {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
}
.information a:hover,
.information a:focus,
.information a:active {
  color:var(--a-color-active);
}
.info {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}
.developed a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}
.developed a:hover,
.developed a:focus,
.developed a:active {
  color:var(--a-color-active);
}
.hidden-form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn { 
  color:var(--basic-white) ;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.btn:hover,
.btn:focus {
  margin: 0;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px #AC1000;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 10px;
}
.btn:active {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: inset 0px 2px 2px #942718;;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 10px;
}
.btn_sort:hover,
.btn_sort:focus {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--basic-white);
  border-radius: 20px;
  color:#323232;
  outline: none;
  display: block;
  padding: 10px;
}
.btn_sort:active {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  box-shadow: inset 0px 2px 1px #696969;
  background-color: var(--basic-white);
  border: none;
  border-radius: 20px;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 12px;
  color:#323232;
}
.btn_sort {
  color:var(--basic-white) ;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2) ;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.hits-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-white);
}
.hits-item:hover,
.hits-item:focus,
.hits-item:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color:var(--a-color-active);
}
.hits-list p {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
}
.hits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feedback__tel{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration:none;
  color:var(--absolute-black);
}
.feedback__tel:hover,
.feedback__tel:focus,
.feedback__tel:active {
  color: var(--a-color-active-extra);
}
.unit {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color:var(--basic-white);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color:var(--basic-extra-dark);
}
/*--CATALOG--*/
.cream_ice_cream {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color:var(--basic-white)
}
.sort {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
  background-color:var(--absolute-color);
}
.sort-list {
  list-style: none;
  margin:0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
  background-color:var(--background-color);
  padding-left: 16px;
  padding-right: 16px;
  padding: 8px 16px;
}
.sort-list-fat li {
  padding-right: 11px;
}
.sort-list-checkbox li {
  padding-right: 24px;
}
.filter form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fat-fieldset {
  margin-right:15px;
}
.checkbox-fieldset {
  margin-right:15px;
}
.checkbox-fieldset ul {
  display: flex;
}
.fat-fieldset ul {
  display: flex;
}
.sort-fieldset {
  margin-right:15px;
}
.price-fieldset {
  margin-right:15px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 8px;
  margin-right: 15px;
}
.sort-fieldset .sort__item {
  min-width: 196px;
}
.price-fieldset .sort__item {
  min-width: 218px;
}
.fat-fieldset .sort__item {
  min-width: 425px;
}
.checkbox-fieldset .sort__item {
  min-width: 711px;
}