/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-extra-dark: #323232;
  --basic-dark: #5A5A5A;
  --absolute-color: #849D8F;
  --absolute-color-a:#D07058;
  --absolute-black: #323232;
  --a-color-active: #FFBC9E;
  --a-color-active-extra: #E84D37;
}
  /* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: “Roboto”, Arial, sans-serif;
  font-size:16px;
  line-height:22px;
  color: var(--basic-white);
  background-color:var(--absolute-color);
  background-position: top center;
  background-repeat: no-repeat;
  }
img {
  max-width: 100%;
  height: auto;
}
/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  padding: 30px;
}
.main-header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container .user-navigation-1 {
  display: flex;
  align-items: center;
}
.container .user-navigation-2 {
  text-align: right;
  flex-basis: 100%;
}
/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.438);
  outline-offset: -5px;
}
.main {
  outline: 5px solid rgba(0, 255, 0, 0.438);
  outline-offset: -5px;
}
.footer {
  outline: 5px solid rgba(0, 255, 0, 0.438);
  outline-offset: -5px;
}
.user-navigation-1 {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  align-items: center;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 11px;
  padding-right: 13px;
  margin-left: auto;
}
.user-navigation-2 {
  order: 2;
  outline: 5px solid rgba(4, 0, 255, 0.561);
  outline-offset: -5px;
}
/* Logo */
.main-header-logo {
  width: 154px;
  height: 64px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}
/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--absolute-color);
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.site-navigation .sub-navigation {
  background-color: #fcf8e3;
  display: none;
}
.site-navigation__item > a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--absolute-color);
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 11px;
  padding-right: 13px;
}
.site-navigation-current a:not([href]) {
  background-color: var(--absolute-color);
}
/* User navigation */
.site-navigation a {
  color: var(--basic-white);
}
.site-navigation__item a:hover,
.site-navigation__item a:focus {
  background-color:var(--absolute-color-a);
  text-decoration: none;
}
.user-navigation {
  color: var(--basic-white);
  display: block;
  padding: 10px;
}
.user-navigation:hover,
.user-navigation:focus {
  background-color:var(--basic-white);
  color: var(--absolute-black)
}
.telefone {
  color:var(--basic-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}
.telefone:focus,
.telefone:hover,
.telefone:active {
  color:var(--a-color-active);
}
/* Features */
.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-item {
  text-align: center;
}
.slider-item h2 {
  font-size: 60px;
  line-height: 60px;
}
.slider-item a {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;;
}
.slider-item a:hover,
.slider-item a:focus
.slider-item a:active {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}
.raspberry {
  color:var(--basic-white) ;
  background-color:var(--absolute-color);
  background-image:url("../img/raspberry.jpg") ;
  background-position:0 0 ;
  background-repeat:repeat;
  font-size: 16px;
  line-height: 22px;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  padding:10px;
}
.chocolate {
  color:var(--basic-white) ;
  background-color:var(--absolute-color);
  background-image:url("../img/chocolate.jpg") ;
  background-position:0 0;
  background-repeat:repeat;
  font-size: 16px;
  line-height: 22px;
  background-position: 50% 50%;
  background-size: cover;
  padding:10px;
}
/* Index description */
.description {
  color: var(--basic-extra-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/pattern.jpg");
  background-position: center, 0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
 }
 .description h2 {
  font-size: 24px;
  line-height: 30px;
 }
 .description p {
  font-size: 16px;
  line-height: 22px;
 }
.strawberry {
  color: var(--basic-extra-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/strawberry.jpg");
  background-position:0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 16px;
  line-height: 22px;
}
.strawberry__item {
  color: var(--basic-extra-dark); 
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.strawberry__item:focus,
.strawberry__item:hover,
.strawberry__item:active {
  color: var(--a-color-active-extra);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.feedback {
  color:var(--basic-dark);
  background-color: var(--absolute-color);
  background-image: url("../img/base.jpg");
  background-position:0 0;
  background-repeat:repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 16px;
  line-height: 22px;
  display: block;
  padding:10px;
}
.social-network {
  list-style: none;
  padding: 0;
  margin: 0;
}
.information {
  color: var(--basic-white);
  list-style: none;
  padding: 0;
  margin: 0;
}
.information a:not(.info) {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
}
.information a:hover,
.information a:focus,
.information a:active {
  color:var(--a-color-active);
}
.info {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}
.developed a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}
.developed a:hover,
.developed a:focus,
.developed a:active {
  color:var(--a-color-active);
}
.hidden-form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn { 
  color:var(--basic-white) ;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.btn:hover,
.btn:focus {
  margin: 0;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px #AC1000;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 10px;
}
.btn:active {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--absolute-color-a);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: inset 0px 2px 2px #942718;;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 10px;
}
.btn_sort:hover,
.btn_sort:focus {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--basic-white);
  border-radius: 20px;
  color:#323232;
  outline: none;
  display: block;
  padding: 10px;
}
.btn_sort:active {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  box-shadow: inset 0px 2px 1px #696969;
  background-color: var(--basic-white);
  border: none;
  border-radius: 20px;
  color: var(--basic-white);
  outline: none;
  display: block;
  padding: 12px;
  color:#323232;
}
.btn_sort {
  color:var(--basic-white) ;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2) ;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.hits-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-white);
}
.hits-item:hover,
.hits-item:focus,
.hits-item:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color:var(--a-color-active);
}
.hits-list p {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
}
.hits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feedback__tel{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration:none;
  color:var(--absolute-black);
}
.feedback__tel:hover,
.feedback__tel:focus,
.feedback__tel:active {
  color: var(--a-color-active-extra);
}
.unit {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color:var(--basic-white);
}
.map {
  background-color:var(--basic-white);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color:var(--basic-extra-dark);
}
/*--CATALOG--*/
.bread_crumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
}
.bread_crumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bread_crumbs_1:focus,
.bread_crumbs_1:hover,
.bread_crumbs_1:active {
  background-color:var(--absolute-color-a);
  text-decoration: none;
  color:var(--basic-white)
}
.bread_crumbs_2 {
  text-decoration: none;
  color:var(--basic-white)
}
.cream_ice_cream {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color:var(--basic-white)
}
.sort {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color:var(--basic-white);
  background-color:var(--absolute-color);
}
.sort__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
  background-color:var(--absolute-color);
}
.sort__item {
  list-style: none;
  margin:0;
  padding: 0;
}
.numerology a {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
  text-decoration: none;
}
.numerology {
  list-style: none;
  padding: 0;
  margin: 0;
}